.mainbox {
  box-sizing: border-box;

  width: 700px;
  height: 300px;

  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 97.68%
  );
  backdrop-filter: blur(25px);

  border-radius: 10px;
  border: 1px solid #585858;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 26px;
  color: rgba(97, 97, 97, 1);
  font-family: sans-serif;
  z-index: 105;
  margin-right: 100px;
}

.subbox {
  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 97.68%
  );
  backdrop-filter: blur(20px);
  border-radius: 10px;
  
  position: absolute;
  top: 400px;
  left: 210px;
  z-index: 106;
  height: 130px;
  border: 1px solid #585858;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-right: 100px;
  font-size: 17px;
  color: rgba(97, 97, 97, 1);

}


.boximg1{
    position: absolute;
    top: 45px;
    left: -50px;
    height: 200px;
}

.boximg2{
    position: absolute;
    height: 150px;
    top: 320px;
    left: 820px;
}

.comma{
    position: absolute;
    height: 40px;
    top: 127px;
    left: 700px;
    z-index: 106;
}

/* tab view */

.mainbox_md {
  box-sizing: border-box;

  width: 550px;
  height: 200px;

  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 97.68%
  );
  backdrop-filter: blur(25px);

  border-radius: 10px;
  border: 1px solid #585858;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 26px;
  color: rgba(97, 97, 97, 1);
  font-family: sans-serif;
  z-index: 105;
  margin-right: 100px;
  font-size: 23px;
}

.subbox_md {
  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 97.68%
  );
  backdrop-filter: blur(20px);
  border-radius: 10px;
  
  position: absolute;
  top: 330px;
  left: 140px;
  z-index: 106;
  height: 100px;
  border: 1px solid #585858;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-right: 50px;
  font-size: 15px;
  color: rgba(97, 97, 97, 1);

}


.boximg1_md{
    position: absolute;
    top: 40px;
    left: -55px;
    height: 150px;
}

.boximg2_md{
    position: absolute;
    height: 120px;
    top: 270px;
    left: 620px;
}

.comma_md{
    position: absolute;
    height: 40px;
    top: 127px;
    left: 500px;
    z-index: 106;
}

/* mob view */


.mainbox_mob {
  box-sizing: border-box;

  width: 85%;
  height: 200px;

  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 97.68%
  );
  backdrop-filter: blur(25px);

  border-radius: 10px;
  border: 1px solid #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  color: rgba(97, 97, 97, 1);
  font-family: sans-serif;
  z-index: 105;
  position: absolute;
  top: 170px;

}

.subbox_mob {
  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 97.68%
  );
  backdrop-filter: blur(20px);
  border-radius: 10px;
  
  position: absolute;
  top: 500px;
  z-index: 106;
  min-width: 280px;
  width: 85%;
  height: 100px;
  border: 1px solid #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 11.5px;
  color: rgba(97, 97, 97, 1);

}


.boximg1_mob{
    position: absolute;
    top: 95px;
    left: 2%;
    height: 100px;
}

.boximg2_mob{
    position: absolute;
    height: 80px;
    top: 430px;
    left: 70%;
}

.comma_mob{
    position: absolute;
    height: 30px;
    top: 152px;
    left: 70%;
    z-index: 106;
}
