@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
  scroll-behavior:smooth;
}

:root {
  /* All project colors */
  --black: #000;
  --primary: #EE6D26;
  --contactusborder: linear-gradient(90deg,#868686 , #2D2B26);

  /* All project fonts */
  --poppins: 'Poppins', sans-serif;
  --alice: 'Alice', serif;
  --navfont : 'Source Code Pro', monospace;

  /* gradients */
  --navgrad: linear-gradient(90deg,rgba(34,34,34,0.6)0%,rgba(0,0,0,0.1)97.68%);

}

body {
  padding: 0;
  margin: 0;
  font-family: var(--poppins);

  background-color: var(--black);
  color: white;
  scroll-behavior: smooth !important;
  overflow-x: hidden;

}


::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-right: 5px black solid;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-right: 5px black solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34);
  border-right: 5px black solid;
}

a:link{
  scroll-behavior: smooth !important ;
}

input[type=checkbox] ::before {
  accent-color: var(--black);
}

input[type=checkbox]  {
  accent-color: var(--primary);
}

input[type=text] :focus  {
  border: none;
  outline: none;
}

input[type=text]   {
  /* border: none; */
  outline: none;
  text-align: center;

}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}