.button {
  border: #2e2f30 solid 2px;
  border-radius: 50%;
  padding: 2px;
  margin-right: 6px;
  background-color: #2e2f30;
}
.button_ {
  border: var(--primary) solid 2px;
  border-radius: 50%;
  padding: 2px;
  margin-right: 6px;
  background-color: var(--primary);
}

.buttondiv :hover {
  background: var(--primary);
  cursor: pointer;
  transition: 0.5s;
}

.slider {
  position: absolute;
  transition: 1s ease-in-out;
  opacity: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_hide {
  position: absolute;
  transition: 1s ease-in-out;
  opacity: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore {
  font-family: var(--aeonik);
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 145.5%;
  background: linear-gradient(180deg, #ff8c3c 12.26%, rgba(0, 0, 0, 0) 123.87%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: -25px;
  transition: 1.5s;
}

.thedata {
  font-family: var(--aeonik);
  font-style: light;
  font-size: 62px;
  line-height: 145.5%;
  background: #f6f6f4;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.browser_text {
  font-family: var(--aeonik);
  font-style: light;
  font-weight: 300;
  font-size: 62px;
  line-height: 145.5%;
  background: #f6f6f4;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  width: 80%;
  padding: 30px 0px;
  color: rgba(183, 183, 182, 0.8);
  font-family: var(--inter);
  font-size: 15px;
}

.explore_btn {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 45px 20px 54px;
  gap: 14px;
  width: 150px;
  height: 50px;
  background-color: black;
  border-radius: 100px;
  border: 2px solid #585858;  
}

.explorediv :hover {
  background-color: var(--primary);
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid var(--primary);
}

.explore_btn :hover {
  /* background-color: var(--primary); */
  transition: 0s;
}

/* tab view */

.explore_tab {
  font-family: var(--aeonik);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 145.5%;
  background: linear-gradient(180deg, #ff8c3c 12.26%, rgba(0, 0, 0, 0) 123.87%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 15px;
  transition: 1.5s;
}

.thedata_tab {
  font-family: var(--aeonik);
  font-style: light;
  font-weight: 400;
  font-size: 40px;
  line-height: 145.5%;
  background: #f6f6f4;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.browser_text_tab {
  font-family: var(--aeonik);
  font-style: light;
  font-weight: 300;
  font-size: 40px;
  line-height: 145.5%;
  background: #f6f6f4;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_tab {
  width: 80%;
  padding: 40px 0px;
  color: rgba(183, 183, 182, 0.8);
  font-size: 10px;
  font-family: var(--inter);
}

.explore_btn_tab {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 45px 20px 54px;
  gap: 14px;
  width: 140px;
  height: 40px;
  background-color: black;
  border-radius: 100px;
  border: 2px solid #585858;
}

.explorediv_tab :hover {
  background-color: var(--primary);
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid var(--primary);
}

.explore_btn_tab :hover {
  background-color: var(--primary);
  transition: 2.5s;
  border: 2px solid var(--primary);
}

/* mob view */


.explore_mob {
  font-family: var(--aeonik);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 145.5%;
  background: linear-gradient(180deg, #ff8c3c 12.26%, rgba(0, 0, 0, 0) 123.87%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 25px;
  transition: 1.5s;
}

.thedata_mob {
  font-family: var(--aeonik);
  font-style: light;
  font-weight: 400;
  font-size: 30px;
  line-height: 145.5%;
  background: #f6f6f4;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.browser_text_mob {
  font-family: var(--aeonik);
  font-style: light;
  font-weight: 300;
  font-size: 30px;
  line-height: 145.5%;
  background: #f6f6f4;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_mob {
  width: 80%;
  padding: 15px 0px;
  color: rgba(183, 183, 182, 0.8);
  font-size: 10px;
  text-align: center;
  font-family: var(--inter);
}

.explore_btn_mob {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 45px 20px 54px;
  gap: 14px;
  width: 120px;
  height: 18px;
  background-color: black;
  border-radius: 100px;
  border: 2px solid #585858;
  font-size: 15px;
}

.explorediv_mob :hover {
  background-color: var(--primary);
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid var(--primary);
}

.explore_btn_mob :hover {
  background-color: var(--primary);
  transition: 2.5s;
  border: 2px solid var(--primary);
}
